# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
check_models.py
# Distribution / packaging
.Python
build/
.ipynb_checkpoints
__pypackages__/
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/